---
layout: default
title: Homepage
background-position: bg-center
banner-height: min-h-90
text-position: items-center
text-color: text-white
banner-image: /uploads/travel/travel-2.jpg
shop-heading: Shop
heading: curated collection
sub-heading: nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breath.
---
<!------------------------ Header banner ------------------------>

{% include full-banner.html%}

<!------- Travel Guide Section ---------->
<section class="p-5p">
	<h2 class="max-w-screen-xl mx-auto text-center mb-5"> Travel Guides </h2>

	<div class="max-w-screen-xl mx-auto grid sm:grid-cols-3">

	{% for product in site.products-guides limit:6 %}

			{% include product-loop-item-square.html %}
	
	{% endfor  %}

	</div>

	<a href="/shop-all.html" class="button"> Shop All Products </a>
	
</section>

<!------- image divider Section ---------->

<section>
	<div class="p-5p min-h-60 bg-cover bg-center flex items-center" style="background-image: url('/uploads/travel/travel-6.jpg')">  
		<h3 class="text-4xl max-w-md text-white normal-case font-serif"> "Once you get a taste for travel, you'll never be the same." </h3>
	</div>

</section>




<!------- Preset Section ---------->

<section class="p-5p">
	<h2 class="max-w-screen-xl mx-auto text-center mb-5"> Travel Guides </h2>

	<div class="max-w-screen-xl mx-auto grid sm:grid-cols-3">

	{% for product in site.products-presets limit:6  %}

			{% include product-loop-item-square.html %}
	
	{% endfor  %}

	</div>

	<a href="/shop-all.html" class="button"> Shop All Products </a>
	
	
</section>

	