---
layout: default
title: Homepage
seo:
  title: Shop All
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---
<section class="max-w-screen-xl mx-auto p-5p" x-data="{ filter: 'all' }">

	<h2 class="mb-4 text-4xl text-center editable"> Shop all products </h2> 

	<div class="text-center filter"> 
		<a href="#" class="button editable" :class="{'active':filter === 'all'}" @click.prevent="filter = 'all'">All</a>
        <a href="#" class="button editable" :class="{'active':filter === 'travel-guide'}" @click.prevent="filter = 'travel-guide'">Travel Guides</a>
        <a href="#" class="button editable" :class="{'active':filter === 'preset'}" @click.prevent="filter = 'preset'">Presets </a>
	</div>

	<div class="grid grid-cols-3 gap-4">

	{% assign all_products = site.products-guides | concat: site.products-presets | sort: 'title'  %}

	{% for product in all_products %}
		
		<div class="{{product.type | slugify }}" x-show="filter === 'all' || filter === '{{ product.type | slugify }}'">
			{% include product-loop-item-square.html type=product.type  %}
		</div>
		
	{% endfor %}

	</div>
</section>