---
layout: default
title: Homepage
background-position: bg-center
banner-height: min-h-90
text-position: items-center
text-color: text-white
banner-image: /uploads/travel/travel-2.jpg
shop-heading: Shop
heading: curated collection
sub-heading: nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breath.
---
<!------------------------ Header banner ------------------------>

{% include full-banner.html%}

<!------- Travel Guide Section ---------->
<section class="p-8 max-w-screen-xl mx-auto">

	<h2> Shop all travel guides </h2> 
	
	<div class="grid grid-cols-3 gap-4">
	
		{% for product in site.products-guides %}
		
		<a href="{{product.url}}"> 
			<img src="{{product.featured-image}}">
			<h4> {{product.title}}</h4>
			<p> {{product.price}}</p>
        </a>
	
	{% endfor %}
	
	</div>
	
</section>

<!------- Preset Section ---------->

<section class="p-8 max-w-screen-xl mx-auto">

	<h2> Shop all presets </h2> 
	
	<div class="grid grid-cols-3 gap-4">
	
		{% for product in site.products-presets %}
		
		<a href="{{product.url}}"> 
			<img src="{{product.featured-image}}">
			<h4> {{product.title}}</h4>
			<p> {{product.price}}</p>
        </a>
	
	{% endfor %}
	
	</div>
	
</section>