---
layout: default
title: Shop
banner:
  background-position: bg-center
  banner-height: min-h-90
  text-position: items-center
  text-color: text-white
  banner-image: /uploads/travel/travel-2.jpg
  shop-heading: Shop
  heading: Our Curated Collection
  sub-heading: nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breath.
divider-image: /uploads/travel/travel-6.jpg
---
<!------------------------ Header banner ------------------------>

{% include full-banner.html%}

<!------- Travel Guide Section ---------->
<section class="p-5p">
	<h2 class="max-w-screen-xl mx-auto mb-5 text-center editable"> Travel Guides </h2>

	<div class="grid max-w-screen-xl mx-auto sm:grid-cols-3">

	{% for product in site.products-guides limit:6 %}

			{% include product-loop-item-square.html %}
	
	{% endfor  %}

	</div>

	<a href="/shop-all.html" class="button editable"> Shop All Products </a>
	
</section>

<!------- image divider Section ---------->

<section>
	<div class="flex items-center bg-center bg-cover p-5p min-h-60" style="background-image: url( '{{ page.divider-image }}' )">  
		<h3 class="max-w-md font-serif text-4xl text-white normal-case editable"> "Once you get a taste for travel, you'll never be the same." </h3>
	</div>
</section>

<!------- Preset Section ---------->
<section class="p-5p">
	<h2 class="max-w-screen-xl mx-auto mb-5 text-center editable"> Product Presets </h2>

	<div class="grid max-w-screen-xl mx-auto sm:grid-cols-3">

	{% for product in site.products-presets limit:6  %}

			{% include product-loop-item-square.html %}
	
	{% endfor  %}

	</div>

	<a href="/shop-all.html" class="button editable"> Shop All Products </a>
	
	
</section>

	