/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- CSS RESET --------- */

@layer base {
    
    body h1, body h2, body h3, body h4, body h5, body p{
        @apply mb-4
    }

    ul {
        @apply list-disc list-inside ml-6
    }

    body {
        @apply bg-stone-300
    }


    h2 {
        @apply text-xl md:text-4xl uppercase font-serif;
    }

    a {
        @apply uppercase font-serif font-light;
    }

    .blog-content h2, h3, h4, h5 {
        @apply text-sm md:text-base	 uppercase font-sans;
    }

    .blog-content p {
        @apply font-sans
    }

    .blog-content blockquote {
        @apply border-0;
    }
    .blog-content blockquote p {
        @apply font-serif text-4xl not-italic font-normal; 
    }


} /* end layer base */

    /* div {
        background-size: cover;
        background-position: center;
    } */


/* Custom CSS */

@layer components {
    .flex-center {
      @apply flex justify-center items-center;
    }
    .tag {

        @apply uppercase text-zinc-600 text-xs tracking-wide;
    }
  }

#memberspace-login-form ms-widget-ui {
    display: flex;
    justify-content: left;
}

#memberspace-login-form input{
    background-color: #d6d3d1;
    border-color: #000;
    border: 0;
    border-bottom: 2px solid black;
    border-radius: 0;
    }

#memberspace-login-form label {
    border: 2px solid yellow;
}

/* Forgot Email / forgot password text */
#memberspace-login-form .MemberSpaceWidgetInternal__InputWrapper_labelRight {
    color: green;
}


#memberspace-login-form .MemberSpaceWidgetInternal__Button_variant-primary {
    color: red;
}

#memberspace-login-form .MemberSpaceWidgetInternal__Button_variant-secondary {
    color: blue;
}

.MemberSpaceWidgetInternal__BrandedInterface_footer {display: none; }
