/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------- typography 
    sans: ['Montserrat', 'sans-serif'],
    serif: ['Italiana', 'serif'],
*/ 

@layer base {
    
    body h1, body h2, body h3, body h4, body h5, body p{
        @apply mb-4
    }

    ul {
        @apply list-disc list-inside ml-6
    }

    body {
        @apply bg-stone-300
    }

    h2 {
        @apply font-serif text-xl uppercase md:text-4xl;
    }

    a {
        @apply block p-1 font-serif text-sm font-light tracking-wide uppercase;
    }

    .blog-content h2, h3, h4, h5 {
        @apply font-sans text-sm uppercase md:text-base;
    }

    .blog-content p {
        @apply font-sans
    }

    .blog-content blockquote {
        @apply border-0;
    }
    .blog-content blockquote p {
        @apply font-serif text-4xl not-italic font-normal; 
    }
}

/* Custom CSS */
@layer components {
    
    .flex-center {
        @apply flex items-center justify-center;
    }
    .tag {
        @apply text-xs tracking-wide uppercase text-zinc-600;
    }
    .button{
        @apply inline-block px-4 py-2 m-1 text-white bg-stone-600;
    }
    .filter .active {
        @apply  bg-stone-100 text-zinc-600
    }
}

@layer utilities {

    #memberspace-login-form ms-widget-ui {
        display: flex;
        justify-content: left;
    }

    #memberspace-section #memberspace-login-form input {
        border-color: #000;
        border: 0;
        border-bottom: 2px solid black;
        border-radius: 0;
        background-color: #d6d3d1;
        }

    #memberspace-section #memberspace-login-form label {
        font-family: 'Montserrat', 'sans-serif';
        text-transform: uppercase;
        font-weight: 400;
    }

    /* Forgot Email / forgot password text */
    #memberspace-login-form .MemberSpaceWidgetInternal__InputWrapper_labelRight {
        color: green;
    }

    #memberspace-login-form .MemberSpaceWidgetInternal__Button_variant-primary {
        color: red;
    }

    #memberspace-login-form .MemberSpaceWidgetInternal__Button_variant-secondary {
        color: blue;
    }

    .MemberSpaceWidgetInternal__BrandedInterface_footer {display: none; }
}