<!--  image banner block  -->
<section class="p-5p bg-cover {{page.banner.background-position}} {{page.banner.banner-height}} {{page.banner.text-position}} {{page.banner.text-color}} flex" style="background-image: url('{{page.banner.banner-image}}')">
    <div class="ml-5">
        <div class="max-w-xl text-base font-light uppercase"> {{page.banner.shop-heading }} </div>  
        <h1 class="text-4xl font-serif text-[10vw] max-w-2xl leading-[.9] font-light mb-3 uppercase"> {{page.banner.heading | default: page.title }}  </h1> 
        <p class="max-w-xl mb-3 text-xl font-light uppercase"> {{page.banner.sub-heading | default: page.description}} </p> 
        <a href="{{page.banner.link-url}}" class="max-w-xl text-3xl font-light text-left uppercase border-b-2 border-white"> {{page.banner.link-text}} </a> 
    </div> 
</section> 
