<section class="grid grid-cols-3 p-5p">

	<div class=" col-span-1 pt-[20%] mb-5">
		<h2 class="mb-4"> How to Use your Presets </h2>
		<ul class="list-disc ml-6">
            <li> Lorem ipsum dolor </li>
            <li> Lorem ipsum dolor </li>
            <li> Lorem ipsum dolor </li>
            <li> Lorem ipsum dolor </li>
            <li> Lorem ipsum dolor </li>
            <li> Lorem ipsum dolor </li>
            <li> Lorem ipsum dolor </li>
        </ul>
	</div>

	<div class="col-span-2 mb-5"> 
		<div class="aspect-landscape mb-2" style="background-image: url('{{page.featured-image}}')"></div>
		</div>
	</div>


</section>