<a class="block p-2 mb-4 post-item break-inside-avoid" href="{{ post.url }}">
    <div class="bg-cover 
    {% cycle 'aspect-square', 'aspect-portrait', 'aspect-landscape', %}" 
    style="background-image:url( '{{ post.featured_image }}' );"></div>
    <div class="relative p-4 bg-stone-200">
        <p class="mb-2 text-xs tracking-wide uppercase text-zinc-600">
            {% for item in post.categories %}
                <span class="mr-2 tag"> {{item}} </span>
            {% endfor %}
        </p>
        <h3 class="mt-1 mb-2 font-sans uppercase text-1xl"> {{ post.title }} </h3>
        <p class="mb-2 font-sans text-xs normal-case">{{post.description}} </p>
        <span href="{{post.url}}" class="inline-block mb-2 font-serif font-light uppercase border-b-2 border-black text-1xl"> Read more </span> 
    </div>
</a>