<a class="post-item p-2 break-inside-avoid block mb-4" href="{{ post.url }}">
    <div class="aspect-square" 
    style="background-image:url( '{{ post.featured_image }}' );"></div>
    <div class="p-4 relative bg-stone-200">
        <h3 class="mt-1 font-sans text-1xl uppercase"> {{ post.title }} </h3>
        <p class="font-sans text-sm">{{post.description}} </p>
        <span href="{{post.url}}" class="uppercase text-1xl font-serif font-light border-b-2 border-black inline-block mb-2"> {{page.link-text}} </span> 
        <p class="uppercase text-zinc-600 text-xs tracking-wide">
          {% for item in post.categories %}
              <span class="tag mr-2"> {{item}} </span>
          {% endfor %}
        </p>

    </div>
</a>