<header class="flex items-center justify-between p-4">
    <a href="/" class="inline-block font-serif text-4xl logo"> Logo </a>
    <nav class="flex overflow-x-scroll md:justify-center md:overflow-x-auto md:flex-wrap flex-nowrap">
        <a href="/blog.html" class="block p-1 text-sm tracking-wide uppercase editable"> blog </a>
        <a href="/shop.html" class="block p-1 text-sm tracking-wide uppercase editable"> shop </a>
        <a href="/login.html" class="block p-1 text-sm tracking-wide uppercase editable"> members </a>
    </nav> 
</header>