<footer> 
  <div class="max-w-screen-xl mx-auto md:grid grid-cols-3 bg-stone-400">
      <div class="p-4">
        <a href="#" class="font-serif text-4xl mb-4 block tracking-wide"> LOGO </a>
        <div class="editable"> <p> Lorem ipsum dolor sit amet consectetur adipisicing elit sint dignissimos magni vitae. </p> </div>
      </div> 

      <nav class="p-4">
        <h2 class="p-1 font-serif tracking-wide uppercase editable"> Explore </h2>
        <a href="/blog" class="block editable"> Blog </a>
        <a href="/shop" class="block editable"> Shop </a>
        <a href="members" class="block editable"> Members </a>
      </nav> 

      <nav class="p-4">
        <h2 class="p-1 font-serif tracking-wide uppercase"> Categories </h2>
        <a href="#" class="block editable"> Instagram</a>
        <a href="#" class="block editable"> Facebook </a>
        <a href="#" class="block editable"> LinkedIn </a>
        <a href="#" class="block editable"> TikTok </a>
      </nav> 


     
    
    </div>
  </footer>
  