<footer> 
  <div class="max-w-screen-xl mx-auto md:grid grid-cols-3 bg-stone-400">
      <div class="p-4">
        <a href="#" class="font-serif text-4xl mb-4 block tracking-wide"> LOGO </a>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit sint dignissimos magni vitae. </p>
      </div> 

      <nav class="p-4">
        <h2 class="p-1 font-serif tracking-wide uppercase"> Explore </h2>
        <a href="/about"> About </a>
        <a href="/blog"> Blog </a>
        <a href="/shop"> Shop </a>
        <a href="members"> Members </a>
        <a href="members"> Contact </a>
      </nav> 

      <nav class="p-4">
        <h2 class="p-1 font-serif tracking-wide uppercase"> Categories </h2>
        
        {% for category in site.categories %}
        	<a href="{{category.url}}"> {{category.category}} </a>
        {% endfor %}
        
      </nav> 
    </div>
  </footer>
  