<footer> 
  <div class="max-w-screen-xl mx-auto md:grid grid-cols-3 bg-stone-400">
      <div class="p-4">
        <a href="#" class="font-serif text-4xl mb-4 block tracking-wide"> LOGO </a>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit sint dignissimos magni vitae. </p>
      </div> 

      <nav class="p-4">
        <h2 class="p-1 font-serif tracking-wide uppercase"> Explore </h2>
        <a href="/blog" class="block"> Blog </a>
        <a href="/shop" class="block"> Shop </a>
        <a href="members" class="block"> Members </a>
      </nav> 

      <nav class="p-4">
        <h2 class="p-1 font-serif tracking-wide uppercase"> Categories </h2>
        <a href="#"> Instagram</a>
        <a href="#"> Facebook </a>
        <a href="#"> LinkedIn </a>
        <a href="#"> TikTok </a>
      </nav> 


     
    
    </div>
  </footer>
  