
<header class="flex justify-between items-center p-4">

    <a href="/" class="inline-block logo text-4xl font-serif"> Logo </a>

    <nav class="flex md:justify-center md:overflow-x-auto overflow-x-scroll md:flex-wrap flex-nowrap">
        <a href="/blog.html" class="p-1 block uppercase text-sm tracking-wide"> blog </a>
        <a href="/shop.html" class="p-1 block uppercase text-sm tracking-wide"> shop </a>
        <a href="/login.html" class="p-1 block uppercase text-sm tracking-wide"> members </a>
    </nav> 

  </header>


<!-- 
  NOTE - need to style scrollbars more beeautifully and browser compatibly
--> 
