---
layout: default
---

<!--------- <section class="p-8"> 
	Product:  {{page.title}} 
	Price: {{page.price }}
	Before: <img src="{{page.before-image}}">
	After: <img src="{{page.after-image}}">
</section>

<!--------
	(DONE) Header: Product overview 
	
		two column section 
		text on the left right with variables: product name, product subtitle, product description, and product purchase url. button is hardcoded
		image on the right 

	section 2: Before & After

		three column section
		image on the left with a two column section image gallery that is one full span column with a nested grid of six columns. variable of a before/after images in an array with a note of max of 6 images
		text on the right of a one column with a hardcoded B&A header and a variable for the before and after description 
	
	section 3: How it works 

		three column section
		text on the left of a one column with a hardcoded B&A header and list of instructions
		video on the right of a two column with a hardcoded video and cover images
	
	Section 4: FAQ's

		hardcoded header
		a data file with the questions 
		and the structure built
	
	Section 5: related posts

		same as the post loop item square but pulling from the presets, adding the price and making the whole thing a clickable url 

------>

<!------------- Product overview ------------>
<section class="grid grid-cols-2 mb-6">
	<div class="px-10p pt-[40%]">
		<h2 class="mb-4"> {{ page.title }} </h2>
		<h3 class="mb-4"> {{ page.subtitle }} </h3>
		<p class="mb-4"> {{ page.description }} </p>
		<a href="{{ page.product-url }}" class="button inline-block bg-black text-white p-3"> Buy Now </a>
	</div>
	<div class="relative">
		<img class="absolute inset-0 object-cover h-full w-full" src="{{page.featured-image }}" alt=" {{product.title}}">
	</div>
</section>

<!---------------- Before & After REAL  ------------>

{% include before-and-after-slider.html %}

<!---------------- how it works section ------------>

{% include how-to-use.html %}

<!---------------- FAQs section ------------>

{% include faqs.html %}

<!---------------- Product section ------------>

<section class="p-5p  bg-stone-200 ">
	<h2 class="max-w-screen-xl mx-auto text-center mb-5"> related products </h2>
  
	<div class="max-w-screen-xl mx-auto md:columns-3">
  

		{% for product in site.products-presets limit: 3 %}
		{% include product-loop-item-square.html %}
		{% endfor %}
  
	</div>
  </section> 