---
layout: default
---

<!------------- Product overview ------------>
<section class="grid grid-cols-2 mb-6">
	<div class="px-10p pt-[40%]">
		<h2 class="mb-4"> {{ page.title }} </h2>
		<h3 class="mb-4"> {{ page.subtitle }} </h3>
		<p class="mb-4"> {{ page.description }} </p>
		<a href="{{ page.product-url }}" class="button inline-block bg-black text-white p-3"> Buy Now </a>
	</div>
	<div class="relative">
		<img class="absolute inset-0 object-cover h-full w-full" src="{{page.featured-image }}" alt=" {{product.title}}">
	</div>
</section>

<!---------------- thumbnail gallery  ------------>

<section class="bg-stone-300 p-5p">
    <h2 class="text-2xl uppercase text-center"> What's Inside </h2>
    <div class="max-w-screen-xl mx-auto">

            {% include thumbnail-gallery.html %}

    </div>
</section>

<!---------------- TOC and What's included  section ------------>

<section>

	<div class="grid grid-cols-3 p-5p max-w-screen-xl mx-auto"> 
	<div class="col-span-2 pr-12">
		<h2 class="mb-4"> Table of Contents </h2>
		{% include table-of-contents.html %}
	</div>

	<div class=" col-span-1 mb-5">
        <h2 class="mb-4"> What's Included </h2>
        <div class="mb-4"> {{ page.whats-included_html }} </div>
		<a href="{{ page.product-url }}" class="button inline-block bg-black text-white p-3"> Add to Cart </a>
	</div>
	</div>

</section>

<!---------------- Product section ------------>

<section class="p-5p  bg-stone-200 ">
	<h2 class="max-w-screen-xl mx-auto text-center mb-5"> related products </h2>
  
	<div class="max-w-screen-xl mx-auto grid sm:grid-cols-3">
  

		{% for product in site.products-guides limit: 3 %}
		{% include product-loop-item-square.html %}
		{% endfor %}
  
	</div>
  </section> 